---
---
@import "fonts";
@import "dimens";
@import "colors";

.header-text {
  font-family: $header_font, monospace;
  color: $header_color;
  text-decoration: none;
}

nav {
  @extend .a-text
}

.regular-text {
  font-family: $text_font, sans-serif;
  color: $text_color;
  text-align: justify;
  text-justify: inter-word;
  margin-left: 5% ;
}

.homepage-body {
  position: relative;
  width: $item_width;
  height: 100%;
  overflow: auto;
  margin: auto;
}

.sidebar {
  border-radius: 2px;
  border: 1px solid lightgray;
}

.a-text {
  @extend .header-text;
  color: $a_color;
}

a {
  @extend .a-text
}

h1, h2, h3, h4, h5, h6 {
  @extend .header-text;
}

header {
  @extend a;
}

main {
  @extend .regular-text
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

th{
  border:1px solid #000000;
  padding: 10px;
  background-color: lightgray;
}

hr {
  margin-top: -5px;
  margin-left: -10px;
  color: lightslategray;
}

td{
  border:1px solid #000000;
  padding: 10px;
}

@media print {
  /* Print styles go here */
}

.prettyprint {
  display: block;
  color: #393318;
}

pre {
  @extend .prettyprint;
  margin-bottom: 1em;
  padding: 5px;
  width: auto;
  max-height: 600px;
  overflow: auto;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  font-size: 13px;
  background-color: #eff0f1
}

code {
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  background-color: #eff0f1;
}