<header style="position: relative">
    <h1 class="a-text" style="float:left">{{layout.title | default: page.title}}</h1>
    <nav class="header-text" style="float: right; transform: translate(0%, 150%);">
        {% if page.navbar %}

        {% for navbar-data in page.navbar %}
        {% for navbar-item in navbar-data %}
        {% if page.relativenavbar == true %}
        <a class="navbarButton" href="{{navbar-item[1]}}/">{{navbar-item[0]}}</a>
        {% else %}
        <a class="navbarButton" href="{{site.baseurl}}/{{navbar-item[1]}}/" >{{navbar-item[0]}}</a>
        {% endif %}
        {% endfor %}
        {% endfor %}

        {% else %}

        {% for navbar-data in layout.navbar %}
        {% for navbar-item in navbar-data %}
        {% if page.relativenavbar == true %}
        <a class="navbarButton" href="{{navbar-item[1]}}/" >{{navbar-item[0]}}</a>
        {% else %}
        <a class="navbarButton" href="{{site.baseurl}}/{{navbar-item[1]}}/" >{{navbar-item[0]}}</a>
        {% endif %}
        {% endfor %}
        {% endfor %}

        {% endif %}
    </nav>
</header>

<hr style="clear:both">
