---
layout: default
---
<header style="position: relative">
    <h1 class="a-text" style="float:left">{{page.title}}</h1>
    <nav style="float: right; padding-top: 25px; padding-bottom: 25px; display: flex">
        <a class="navbarButton" href="{{site.baseurl}}/">Home</a>
        <a  class="navbarButton" href="{{site.baseurl}}/about/" >About</a>
        <a  class="navbarButton" href="{{site.baseurl}}/light-novels/" >Light Novels</a>
        <a class="navbarButton"  href="{{site.baseurl}}/book-reviews/" >Book Reviews</a>
        <!--<a class="navbarButton"  href="{{site.baseurl}}/study-wiki/">Study Wiki</a> -->
        <a class="navbarButton"  href="{{site.baseurl}}/applications/">Apps</a>
    </nav>
</header>

<hr style="clear:both">

<main>
    <div class="regular-text">{{content}}</div>
</main>
