---
layout: default
---
<div>
    <header style="float: left; position: relative">
        <h1 class="a-text">{{page.title}}</h1>
        <nav style="float: right; transform: translate(0%, 150%);">
            <a href="{{site.baseurl}}/" style="padding-left: 10px">Home</a>
            <a href="{{site.baseurl}}/about/" style="padding-left: 10px">About</a>
            <a href="{{site.baseurl}}/light-novels/" style="padding-left: 10px">Light Novels</a>
            <a href="{{site.baseurl}}/book-reviews/" style="padding-left: 10px">Book Reviews</a>
            <!--<a href="{{site.baseurl}}/study-wiki/" style="padding-left: 10px">Study Wiki</a> -->
            <a href="{{site.baseurl}}/applications/" style="padding-left: 10px">Apps</a>
        </nav>
    </header>

    <hr style="clear:both;">
</div>
<main style="clear:both;">
    <div class="regular-text">{{content}}</div>
</main>
