---
layout: default
---
{% include navbar.html %}

{% if page.sidebarlinks == nil %}
<div class="regular-text">
    {% if page.wip %}
    This page is a work in progress, please wait for a new update
    {% else %}
    {{content}}
    {% endif %}
</div>
{% else %}
<div class="regular-text" style="float:left;">
    {% if page.wip %}
    This page is a work in progress, please wait for a new update
    {% else %}
    {{content}}
    {% endif %}
</div>
{% include regular-sidebar.html %}
{% endif %}
