---
layout: default
---
{% include navbar.html %}

{% if page.sidebarlinks == nil %}
<div class="regular-text">
    {% if page.wip %}
    This page is a work in progress, please wait for a new update
    {% else %}
    {{content}}
    {% endif %}
</div>
{% else %}
<div class="regular-text" style="float:left;">
    {% if page.wip %}
    This page is a work in progress, please wait for a new update
    {% else %}
    {{content}}
    {% endif %}
</div>
<div
     class="{{page.sidebarClass | default: sidebar }} no-print">
    {% for sidebarlink in page.sidebarlinks %}
    {% for sidebarlinkdata in sidebarlink %}
        <a href="#{{sidebarlinkdata[1]}}" style="padding-left: 5px;">{{sidebarlinkdata[0]}}</a><br><br>
    {% endfor %}
    {% endfor %}
</div>
{% endif %}

{% include disqus.html %}
